.homeRecipes {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 20px;
    padding: 20px 0px;
    width:100vw;
    background-color: #f8f8f8;
    scrollbar-width: none;
    justify-content: center;
}

// .homeRecipes > .recipe-card:first-child {
//     margin-left: 40px;
// }

// .homeRecipes > .recipe-card:last-child {
//     margin-right: 40px;
// }

.homeRecipes::-webkit-scrollbar {
    display: none;
}


.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 300px; 
    transition: transform 0.2s ease-in-out;
}

.image-recipe {
    width: 100%;
    aspect-ratio:7/10;
    object-fit: cover;
    display:block;
}

.recipe-label {
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f4c542;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
}