.recipeGallery {
    display: grid ;
    max-width: 2200px;
    grid-template-columns: repeat(2, minmax(200px, 1fr)); 
    gap: 20px;
    padding: 20px;  
    justify-content: center;
  }

  .recipe-card{
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
  }

  .recipeBtn{
    justify-content: center;
  }
  .recipe-content{
    display: grid ;
    max-width: 2200px;
    grid-template-columns: repeat(2, minmax(400px, 1fr)); 
    gap: 20px;
    padding: 20px;  
    justify-content: center;
  }

  .recipe-card:hover .nutrition-element{
    display:block;
    background-color: #e0f7fa;
    border: 1px solid #b2ebf2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #00796b;

}

.card-image {
    width: 100%;
    height: 180px;
} 

.card-image img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.searchBar {
    font-size: 1.2em;
    font: bold;
}
.card-title {
    font-size: 1.2em;
    font: bold;
}

.recipe-card {
    border: 1mm ridge rgba(30, 210, 60, 0.6);
    font-size: 0.8em;
    background-color: #c5b29b;
    padding: 5px;
}

.card-detailPop{
    display: inline-flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 0.8em;
}
