.container {
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  align-items: center; /* Center-align the content horizontally */
  padding: 20px;
}

.headers {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); Flexible grid for headers */
  gap: 20px;
  justify-items: center; 
  cursor: pointer;
}

.content-grid {
gap: 20px;
justify-items: right; /* Center-align content */
display: grid; /* Use grid instead of flex */
width: 100%;
gap: 20px;
justify-items: center;
}

.category {
  text-align:center;
  width: 100%;
}
.recipeGallery {
  display: grid ;
  max-width: 2200px;
  grid-template-columns: repeat(2, minmax(400px, 1fr)); 
  gap: 20px;
  padding: 20px;  
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
 
  
}