.home-recipes-container{
    padding: 20px;
    display: flex;
    flex-direction: column;  // ⬅️ stack vertically
    gap: 40px;               // ⬅️ spacing between rows
    background-color: #f8f8f8;
    align-items:center;

}
.home-recipes-container::-webkit-scrollbar {
    display: none;
}